#set($root=$request.getContextPath())
<div id="content">
<a href="showEdit">[新增分类]</a>	
<ul class="uarticles">
#foreach($n in $list)
	<li class="t"><a href="showEdit?id=$n.Id">$n.Title</a></li>
	<li>$util.asHtml($n.Created)</li>
	<li>
		[<a href="showEdit?id=$n.Id">编辑</a>]
		[<a href="delete?id=$n.Id" onclick="return confirm('确认删除吗？')">删除</a>]
	</li>
#end	
</ul>
<div class="hackbox"></div>
</div>