<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
  <session-factory>
  	<property name="show_sql">true</property>
  	<property name="cach.use_second_level_cache">true</property>
    <property name="cache.use_query_cache">true</property>
    <property name="hibernate.cache.provider_class">
		org.hibernate.cache.EhCacheProvider
	</property>
	<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/my?useUnicode=true&amp;characterEncoding=GBK</property>
	<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">317203</property>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.max_size">2</property>
    <property name="hibernate.c3p0.min_size">2</property>
    <property name="hibernate.c3p0.max_statements">100</property>
    <property name="hibernate.c3p0.acquire_increment">2</property>
    <mapping package="com.act.db.model"/>
    <mapping class="com.act.db.model.User"/>
    <mapping class="com.act.db.model.Category"/>
    <mapping class="com.act.db.model.Picture"/>
    <mapping class="com.act.db.model.Article"/>
    <mapping class="com.act.db.model.ArticlePart"/>
    <mapping class="com.act.db.model.Special"/>
    <mapping class="com.act.db.model.SpecialModule"/>
    <mapping class="com.act.db.model.SpecialStyle"/>
    <mapping class="com.act.db.model.SpecialModuleBody"/>
    <mapping class="com.act.db.model.SpecialModuleList"/>
    <mapping class="com.act.db.model.SpecialArticle"/>
    <mapping class="com.act.db.model.SpecialArticlePart"/>
  </session-factory>
</hibernate-configuration>
