<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
         <property name="driverClass" value="org.gjt.mm.mysql.Driver" />
         <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/my?useUnicode=true&amp;characterEncoding=GBK"/>            
         <property name="user" value="root"/>
         <property name="password" value="317203"/>
          
         <property name="minPoolSize" value="2"/>
         <property name="maxPoolSize" value="50"/>
         <property name="maxIdleTime" value="15000"/>
         <property name="acquireIncrement" value="2"/>
         <property name="maxStatements" value="0"/>
         <property name="initialPoolSize" value="20"/>
         <property name="idleConnectionTestPeriod" value="1800"/>
         <property name="acquireRetryAttempts" value="30"/>
         <property name="breakAfterAcquireFailure" value="true"/>
         <property name="testConnectionOnCheckout" value="false"/>

	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory"/>
		</property>
	</bean>
	<bean id="hibernateDaoTarget" class="com.act.db.dao.impl.HibernateDaoImpl" >
	  <property name="sessionFactory">
			<ref bean="sessionFactory" />
	  </property>
	</bean>
	
	<bean id="hibernateDao" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager"/>
		</property>
		<property name="target">
			<ref bean="hibernateDaoTarget"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="create*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="find*">PROPAGATION_SUPPORTS,readOnly</prop>
				<prop key="get*">PROPAGATION_SUPPORTS</prop>
			</props>
		</property>
	</bean>
	
	<bean id="constant" class="com.act.bean.ConstantBean" singleton="true">
       <property name="baseLocation"><value>/</value></property>
       <property name="uploadLocation"><value>/upload</value></property>
    </bean>
	
	<bean id="categoryBo" class="com.act.bo.impl.CategoryBoImpl"/>
	<bean id="userBo" class="com.act.bo.impl.UserBoImpl"/>
	<bean id="pictureBo" class="com.act.bo.impl.PictureBoImpl"/>
	<bean id="articleBo" class="com.act.bo.impl.ArticleBoImpl"/>
	<bean id="specialBo" class="com.act.bo.impl.SpecialBoImpl"/>
</beans>